{% extends 'stock/base.html' %}

{% block content %}
   <!DOCTYPE html>
<html>
    <head>
        <title>User Portfolio</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
            th, td {
                padding: 15px;
                text-align: center;
            }
            .gain {
                color: green;
            }
            .loss {
                color: red;
            }
        </style>
    </head>
    <body>
        {% block pages %}
        {% endblock pages %}
        
        <h1>User Portfolio</h1>
        <table>
            <tr>
                <th>Stock</th>
                <th>Quantity</th>
                <th>Bought At</th>
                <th>Current Price</th>
                <th>Invested Amount</th>
                <th>Current Value</th>
                <th>Gain/Loss ($)</th>
                <th>Gain/Loss (%)</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            {% for stock in portfolio.stocks.all %}
            <tr>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.quantity }}</td>
                <td>${{ stock.bought_at }}</td>
                <td>${{ stock.current_price }}</td>
                <td>${{ stock.amount_invested }}</td>
                <td>${{ stock.current_value }}</td>
                <td>${{ stock.gain_loss }}</td>
                <td>{{ stock.gain_loss_pct }}%</td>
                <td class="{% if stock.current_value > stock.amount_invested %}gain{% elif stock.current_value == stock.amount_invested %}-{% else %}loss{% endif %}">
                    {% if stock.current_value > stock.amount_invested %}
                        Gain
                    {% elif stock.current_value == stock.amount_invested %}
                        -
                    {% else %}
                        Loss
                    {% endif %}
                </td>
                <td>
                    <form action="/buy_stock/{{ stock.symbol }}/" method="post">
                        {% csrf_token %}
                        <input type="number" name="amount" placeholder="Amount to buy" required>
                        <input type="submit" value="Buy">
                    </form>
                    <form action="/sell_stock/{{ stock.symbol }}/" method="post">
                        {% csrf_token %}
                        <input type="number" name="amount" placeholder="Amount to sell" required>
                        <input type="submit" value="Sell">
                    </form>
                </td>
            </tr>
            
            {% endfor %}
        </table>
        <br>
        <table>
            <tr>
                <th colspan="6">Total invested</th>
                <td>${{ portfolio.total_invested }}</td>
            </tr>
            <tr>
                <th colspan="6">Current value</th>
                <td>${{ portfolio.total_value }}</td>
            </tr>
            <tr>
                <th colspan="6">Average Gain/Loss (%)</th>
                <td>{{ portfolio.avg_gain_loss_pct }}%</td>
            </tr>
            <tr>
                <th colspan="6">Status</th>
                <td class="{% if portfolio.status == 'Gain' %}gain{% elif portfolio.status == 'Loss' %}loss{% else %}-{% endif %}">{{ portfolio.status }}</td>
            </tr>
        </table>


    </body>
</html>

{% endblock content %}
